/* esconde scrollbar para chrome, safari e opera */
.no-scrollbar::-webkit-scrollbar {
    display: none;
}

/* esconde scrollbar para ie, edge e firefox */
.no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
